/* Stili generali */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
p, h2, h3, #linguaggi-prog{
    margin-top: 5px;
    margin-bottom: 5px;
}
#linguaggi-prog, ol{
    margin-left: 20px;
}


body{
    background-color: #F2F2F2;/* #F2F2F2; burlywood */
    /*background-color: #F2F2F2; burlywood */
}

/* Stili header */
header{
    height: 140px;
    margin: 0px auto;
    background-color: #23282b; /*#23282b*/
}

#logo{
    width: 70%;
    /*text-align: center;*/
    height: 130px;
    margin: 0px auto;
    padding-top: 10px;
}
#logo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}
#logo h1{
    display: block;
    width: 80%;
    float: left;
    /*text-transform: uppercase;*/
    margin-top: 40px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #2BA977;/*#42a096;*/
}

/* Stili nav */
nav{
    width: 80%;
    height: 40px;
    margin: 0px auto;
    background-color: #1b1e1f;
    border: 1px solid #333;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
}

nav #navmenu{
    list-style: none;
    text-decoration: none;
}

nav #navmenu li{
    line-height: 40px;
    float: left;
}

nav #navmenu li a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: #d1d4d6;
}

nav #navmenu li a:hover{
    background: #2BA977;
    box-shadow: 0px 0px 5px #444444 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 80%;
    margin: 0px auto;
    /*margin-bottom: 145px;*/
}
.lato-sinistro{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}
.lato-destro{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}
.riempimento-barra{
    display: block;
    /*width: 97.37%;*/
    height: 10px;
    background-color: #2b2f30;
    float: left;
}

/* Contenuto centrale */
#content{
    width: 80%;
    min-height: 930px;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.box{
    background-color: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0px auto;
}
.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* footer */
footer{
    width: 80%;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}

/* Responsive */
@media (max-width: 501px){
    header{
        width: 100%;
    }
    #logo{
        width: 96%;
    }
    #logo img{
        margin-left: 15px;
    }
    #logo h1{
        width: 79%;
        margin-top: 25px;
        letter-spacing: 1px;
    }
    nav{
        width: 100%;
    }
    .barra{
        width: 100%;
    }
    .riempimento-barra{
        width: 91.7%;
    }
}

@media (min-width: 502px) and (max-width: 942px){
    header{
        width: 72%;
    }
}

@media (min-width: 942px) and (max-width: 960px){
    header{
        width: 70%;
    }
    #logo{
        width: 95%;
    }
    .riempimento-barra{
        width: 94.65%;
    }
}

@media (min-width: 960px) and (max-width: 1366px){
    header{
        width: 70%;
    }
    .riempimento-barra{
        width: 96.25%;
    }
}

@media only screen and (min-width: 1919px){
    header{
        width: 50%;
    }
    .riempimento-barra{
        width: 97.37%;
    }
}