/* Stili generali */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: burlywood; /* #F2F2F2*/
}

/* Stili header */
header{
    width: 70%;
    height: 140px;
    margin: 0px auto;
    background-color: #23282b;
}

#logo{
    width: 70%;
    /*text-align: center;*/
    height: 130px;
    margin: 0px auto;
    padding-top: 10px;
}
#logo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}
#logo h1{
    display: block;
    float: left;
    /*text-transform: uppercase;*/
    margin-top: 40px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #2BA977;/*#42a096;*/
}
