{% extends 'layout.html' %}

{% block title %}
Ciao Mondo
{% endblock %}

{% block content %}
    <!-- Ereda il contenuto originale di un blocco html -->
    {# Commento nel linguaggio di template di django, forma 1. #}
    {{block.super}}

    {% comment 'Nota per lo sviluppatore' %}
        <p>Questo è un altra forma (2) di fare commenti, non comparirà neache sul html.</p>
        <p>Viene processato dal server e capisce che è un commento.</p>
    {% endcomment %}

    <h1 class="title">Home</h1>
    Ciao mondo con Django!!
{% endblock %}