{% extends 'layout.html' %}

{% block title %}
{{titolo}}
{% endblock %}

{% block content %}

{# Interpolare le variabili delle view(controller) con le doppie graffe. #}

<h1 class="title">Inizio</h1>
<p>{{variable}}</p>

{% if nome and nome == "Adrian Medina" %}
    <p>Nome completo: {{nome}}</p>
{% else %}
    <strong>User name non esiste o non coincide</strong>
{% endif %}

<strong>Linguaggi di programmazione web popolari: </strong>
<ul id="linguaggi-prog">
{% for language in languages %}
    <p>{{language}} | posizione 1? {{forloop.first}}</p>
{% empty %}
    <em>Non ci sono linguaggi disponibili.</em>
{% endfor %}
</ul>

<h3>Primo linguaggio:</h3>
{% for i in languages %}
    {% if forloop.first %}
        <p>{{i}}</p>
    {% endif %}
{% endfor %}

<h3>Ultimo linguaggio:</h3>
{% for i in languages %}
    {% if forloop.last %}
        <p>{{i}}</p>
    {% endif %}
{% endfor %}

<h3>Top 5 di linguaggi:</h3>
{% for i in languages %}
    {# si può iniziare a contare da 0 con .counter0 #}
    {# Esiste anche .revcounter e .revcounter0 che inverte il contatore. #}
    <p>{{forloop.counter}} - {{i}}</p>
{% endfor %}

<hr/>
{# con 'only' non ereda le variabili della vista, solo la attuale come parametro #}
{% include 'data-corrente.html' with saluto="Benvenuto user"%}

{% endblock %}