{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <title>{% block title %}
        {% endblock %}
        | Adrian Medina
    </title>
</head>

<body>

    <!-- Header della pagina -->
    <header>
        <div id="logo">
            <!-- logo django -->
            <img src="{% static 'img/logo.png' %}"/>
            <h1>Web site with django | Layout html</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/inizio">Inizio</a></li>
            <li><a href="/ciao-mondo">Ciao mondo</a></li>
            <li><a href="/pagina-prova">Pagina prova</a></li>
            <li><a href="/contatto-pag">Contatto</a></li>
        </ul>
    </nav>

    <div id="content">
        <h2 class="title">Sottotitolo | Contenuto </h2>
        {% block content %}
        <em>Contenuto originale: per essere visualizzato si mette dentro '{'{block.super}'}' alla pagina interessata</em>
        {% endblock %}
    </div>

    <hr/>
    <footer>
        Adrian Medina &copy; 2021
    </footer>
</body>

</html>